@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: lightsteelblue;
}

.mastercontainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}

.mainimg {
    width: 40vw;
    height: 100vh;
}

.mainimg img {
    position: relative;
    width: 40vw;
    height: 100vh;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 40vw;
    height: 6vw;
}

.overlay img {
    width: 150px;
    height: 200px;
}

.overlay p {
    font-family: 'norsebold', sans-serif;
    font-size: 100px;
    color: ghostwhite;
}

.formcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60vw;
    height: 100vh;
}

.text {
    display: flex;
    flex-direction: column;
}

.form {
    background-color: 	lightslategrey;
    box-shadow: 3px 3px 3px  black;
    width: 60vw;
    height: 30vh;
    min-height: 361.5px;
    min-width: 1080px;
}

.text p {
    margin: 16px;
    margin-left: 50px;
    font-family: 'norsebold', sans-serif;
    font-size: 50px;
}

.form p {
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
    font-family: 'norsebold', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    gap: 50px;
}

section:first-child {
    margin-top: 8px;
}

section div {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.5rem;
    font-family: 'norsebold', sans-serif;
    margin-bottom: 3px;
}

input {
    height: 25px;
    width: 500px;
    border: none;
    border-radius: 5px;
}

input:focus {
    outline: solid;
    outline-width: medium;
    
}

input:valid {
    outline: solid;
    outline-width: medium;
    outline-color: green;
}

button {
    margin-top: 90px;
    margin-left: 50px;
    width: 250px;
    height: 75px;
    border: none;
    border-radius: 10px;
    font-family: 'norsebold', sans-serif;
    font-size: 32px;
    background-color: lightslategray;
    box-shadow: 3px 3px 3px black;
}

button:hover {
    box-shadow: 5px 5px 5px white;
    color: white;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .mastercontainer {
        display: flex;
        flex-direction: column;
    }

    .mainimg {
        width: 100vw;
        height: 20vh;
    }

    .mainimg img {
        width: 100vw;
        height: 20vh;
    }

    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 65px;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100vw;
        height: 6vh;
    }

    .overlay img {
        width: 50px;
        height: 100px;
    }
    
    .overlay p {
        font-family: 'norsebold', sans-serif;
        font-size: 60px;
        color: ghostwhite;
    }

    .container {
        width: 100vw;
        height: 20vh;
        overflow: hidden;
    }

    h1, h2 {
        text-align: center;
        margin-left: 20px;
    }

    .formcontainer {
        position: relative;
        top: 95px;
        justify-content: space-evenly;
        width: 100vw;
        height: 60vh;
    }

    .form {
        width: 100vw;
        height: 30vh;
        min-width: 100vw;
        min-height: 560px;
    }

    .form p {
        text-align: center;
        margin: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
    }
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 0;
    }

    section div {
        gap: 10px;
    }

    label {
        text-align: center;
        margin: 0;
        margin-bottom: 5px;
        margin-top: 15px;
        
    }

    input {
        height: 25px;
        width: 70vw;
        border: none;
        border-radius: 5px;
        align-items: center;
    }

    button {
        align-self: center;
        margin-left: 0;
    }

    .text p {
        font-size: 24px;
        text-align: center;
        margin: 0;
        margin-top: 15px;
    }
}
